<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yusuga.beatifulratio</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7924F878-24AD-4049-AC87-CA66546D3BC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D8F8847-C3BC-44B7-AC47-6BEAE4AC81D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yu Sugawara</string>
	<key>description</key>
	<string>Calculates the Golden ratio and Silver ratio.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BeautifulRatio</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2D8F8847-C3BC-44B7-AC47-6BEAE4AC81D7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>br</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python ratio.py {query}</string>
				<key>title</key>
				<string>Beatiful Ratio</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7924F878-24AD-4049-AC87-CA66546D3BC7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2D8F8847-C3BC-44B7-AC47-6BEAE4AC81D7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7924F878-24AD-4049-AC87-CA66546D3BC7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://yusuga.com</string>
</dict>
</plist>
